/* 引入外部字体 */
@import url('https://cdn.jsdelivr.net/npm/jetbrains-mono@2.242.0/css/jetbrains-mono.min.css');
@import url('https://cdn.jsdelivr.net/npm/maple-mono/dist/maple-mono.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;900&display=swap');

/* :root 全局变量定义 */
:root {
  /* 正文字体 */
  --vp-font-family-base: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', serif;
  --vp-font-family-heading: 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;

  /* 等宽字体（代码块） */
  --vp-font-family-mono: 'Maple Mono', 'JetBrains Mono', 'Noto Sans SC', monospace;
  --vp-font-feature-settings-mono: "cv01", "cv02", "cv05", "cv35", "cv40", "cv42", "cv43", "cv61", "cv62", "cv63", "ss01", "ss03", "ss04", "ss05", "ss06";
  --vp-font-variant-ligatures-mono: none;
}

/* 应用代码字体高级特性 */
.vp-doc code,
.vp-doc kbd,
.vp-doc pre {
  font-family: var(--vp-font-family-mono);
  font-feature-settings: var(--vp-font-feature-settings-mono);
  font-variant-ligatures: var(--vp-font-variant-ligatures-mono);
  font-weight: 400 !important;
  font-size: 0.95em;
}

body {
  font-family: var(--vp-font-family-base) !important;
  font-weight: 500 !important;
}
strong, b {
  font-weight: 900 !important;
}

/* 为紧跟在 h2 后面的 h3 增加顶部外边距 */
.vp-doc h2 + h3 {
  margin-top: 1.25em;
}
/* 为紧跟在 h3 后面的 h4 增加顶部外边距 */
.vp-doc h3 + h4 {
  margin-top: 1.25em;
}
/* 为紧跟在 h4 后面的 h5 增加顶部外边距 */
.vp-doc h4 + h5 {
  margin-top: 1.25em;
}
/* 为紧跟在 h5 后面的 h6 增加顶部外边距 */
.vp-doc h5 + h6 {
  margin-top: 1.25em;
}

.vp-doc h2 {
  border-top: none; /* 移除 h2 标题上方的分割线 */
  margin-top: 1.25em; /* 设置 h2 标题上方的外边距 */
}

/* Iconify 图标样式 */
.iconify {
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 1.25em;
}

a.icon-link-wrapper {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;
}
a.icon-link-wrapper:hover {
  color: var(--vp-c-brand-1);
}